.genres {
    padding: 80px 0 60px 0;
    /* background-color: #fff8db; */
    /* background-color: #000; */
}
.genres .title {
    display: flex;
    align-items: center;
    gap: 15px;
}
.genres .title .tri {
    border-left: 17px solid #000;
    border-bottom: 12px solid transparent;
    border-top: 12px solid transparent;
}
.genres ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
    padding: 30px 0 60px 0;
    border-bottom: 1px solid #000;
}
.genres ul li {
    padding: 10px 0;
}
.genre-button {
    color: #1e8282;
    padding: 5px 15px;
    border: 0.5px solid #1e8282;
    border-radius: 20px;
    transition: all 0.05s;
    display: inline-block;
}
.genre-button:hover {
    color: #1e8282;;
    background-color: #e9e9e9;
}