.add-movie {
    /* background-color: rgb(238, 205, 155); */
    position: relative;
    z-index: 1;
    color: #fff;
    overflow: hidden;
}
.add-movie:before {
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-top: 40px solid #fff;
    content: "";
    position: absolute;
    top: 0;
    left: 355px;
    z-index: 1;
}
.add-movie .background {
    position: absolute;
    width: 100%;
    height: 100%;
}
.add-movie .background img {
    width: 100%;
}
.add-movie:after {
    background: radial-gradient(70% 53% at 50% 45%, rgba(0, 0, 0, 0) 0%, #000 100%);
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    backdrop-filter: blur(12px);
}
.add-movie .add-movie-wrapper {
    padding: 80px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
}
.add-movie .text {
    max-width: 600px;
    z-index: 2;
}
.add-movie .text p {
    padding: 17px 0 35px 0;
    font-size: 1.3rem;
    line-height: 1.7rem;
    opacity: 0.7;
}
/* .join .text h2 {
    font-size: 1.3rem;
    font-weight: lighter;
}
.join .text ul li {
    display: flex;
    align-items: center;
    gap: 10px;
}
.join .text ul li i {
    font-size: 1.3rem;
    color: #1e8282;
} */
.add-movie .insert-movie-info {
    width: 438px;
    z-index: 2;
}
/* .join .create-account .create-account-up {
    border: 1px solid #fff;
} */
.add-movie .insert-movie-info .movie-info-up .bundle {
    display: flex;
    gap: 10px;
}
.add-movie .insert-movie-info .movie-info-up input {
    width: 100%;
    height: 50px;
    border:  none;
    background-color: #ffffff80;
    outline: none;
    padding: 10px;
    font-size: 1.1rem;
    /* color: #fff; */
    margin: 5px 0;
}
.add-movie .insert-movie-info .movie-info-up input.title,
.add-movie .insert-movie-info .movie-info-up input.imdb_id,
.add-movie .insert-movie-info .movie-info-up input.country,
.add-movie .insert-movie-info .movie-info-up input.year {
    color: #c53400;
}
.add-movie .insert-movie-info .movie-info-up input:focus {
    outline: 2px solid #1e8282;
}
.add-movie .insert-movie-info .movie-info-down {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
}
.add-movie .insert-movie-info .movie-info-down p.required {
    font-size: 1rem;
    color: #de673c;
}
.add-movie .insert-movie-info .movie-info-down p.optional {
    font-size: 1rem;
    color: #7a7575;
}
.add-movie .insert-movie-info .movie-info-down button {
    width: 50%;
    height: 50px;
    border: none;
    border: 1px solid #1e8282;
    background-color: transparent;
    padding: 10px;
    font-size: 1.1rem;
    color: #1e8282;
    transition: all 0.3s;
}
.add-movie .insert-movie-info .movie-info-down button:hover {
    /* color: #fff; */
    cursor: pointer;
    background-color: #ffffff;
}